<!doctype html>
<html ng-app="ticApp">
<head>
	<title>Show me your O Face</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <!-- App javascript -->
	<script src="js/main.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
     

</head>
<body ng-controller="TTTController" ng-model = "gameContainer">
	<div class="wrapper">
			<div class="header">
				<p class="title">TicTacToe!</p>
			</div>
			<div class="player1">
				<p class="p1">PLAYER1</p>
			</div>
			<div class="player2">
				<p class="p2">PLAYER 2</p>
			</div> 
			<div class="counter"></div>
				<div class="theBox">
				    <div ng-repeat="mySingleCell in gameContainer.boardArray">
				   		<div class="cell" ng-click="playerPicks(mySingleCell)"
	          			  ng-class="{xclass: mySingleCell.status=='X',oclass: mySingleCell.status =='O'}">
	         		   	  {{mySingleCell.status}}
	         		   	</div>
	       			</div>
			    </div>  
			</div>

			<div class = "video" ng-if="oWin">
			  <video  width="320" height="240" controls autoplay>
			  <source src="Images/o face.mp4" type="video/mp4">
			  </video>
			</div>
			


</body>
</html>
